h1, h2, h3, p {
	padding: 0px 15px 0px 15px;
}

h3 {
	padding-top: 10px;
	padding-bottom: 20px;
}	
	
.centerfont {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 35px;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
    text-indent: 50px;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.poof {
    opacity: 0;
}

.test {
    font-size: 24px;
}


/* HEADER */
.bar .bar-header {
	
}


/* NAV */
.item-complex, a.item.item-complex, button.item.item-complex {
	padding-left: 25px;
}
.item.item-light, .item-complex, a.item.item-complex, button.item.item-complex a, .item-complex.item-stable > .item-content a {
	font-size: 15px;
}
.item-complex.item-stable > .item-content {
	padding-left: 0;
}



/* TABS */
.button-bar {
}

.tabs-striped a.tab-item {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}


/* RIDERS */

.list.card .item p {
	font-size: 70%;
}



/* SCHEDULE */

.list .item.item-icon-right.item-text-wrap.col.item {
	padding-left: 15px;
}

.list .item.item-icon-right.item-text-wrap.col.item .title.ng-binding {
	font-weight: 800;
	pagging-top: 5px;
	color: #C45441;
	font-size: 90%;
}

.list .item.item-icon-right.item-text-wrap.col.item .date.ng-binding {
	text-transform: uppercase;
	font-size: 70%;
	color: #999;
}

.list .item.item-icon-right.item-text-wrap.col.item .location.ng-binding {
	font-size: 85%;
	margin-top:3px;
}

.nav-view .view-container .view.pane .content.scroll-content.ionic-scroll.has-header .scroll .button-bar {
	color: #C45441;
}

